/data/*
!/data/README.MD
/data/binaries/*
!/data/binaries/CMakeLists.txt
.vscode/c_cpp_properties.json
.vscode/settings.json
__pycache__
parser.out
parsertab.py
TESTOUT
.vscode/c_cpp_properties.json
.vscode/settings.json
.slog-history
metadatabase/database.sqlite3
env/
out
.cache
massif.*
gmon.out
temp-out/
test-input
souffle-out

temp-out/
test-input
souffle-out
