/data/*
!/data/README.MD
/data/binaries/*
!/data/binaries/CMakeLists.txt
__pycache__
parser.out
parsertab.py
TESTOUT
.vscode
.slog-history
metadatabase/database.sqlite3
env/
out
.cache
massif.*
gmon.out
temp-out/
test-input
